#!/bin/bash
### Tmux ###
# Create a new tmux session
alias tnew='tmux new -s'
# Attach to a tmux session
alias tatt="tmux attach -t"

### Utils ###
# Find a file within the current directory
alias ff='find . -iname'

# Useful for debugging dependency issues
alias freeze-mvn="mvn -o dependency:list |\
  grep \":.*:.*:.*\" |\
  cut -d] -f2- |\
  sed 's/:[a-z]*$//g' |\
  sort -u
"

###    Docker
#       ":"
#     ___:____     |"\/"|
#   ,'        `.    \  /
#   |  O        \___/  |
# ~^~^~^~^~^~^~^~^~^~^~^~^~
alias d=docker
alias dp='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.Ports}}"'
alias d-c=docker-compose

### Fun stuff ###
# Sometimes it's nice for somebody to answer you
alias wtf="echo 'INDEED!'"
alias fml="echo 'INDEED!'"
